.tabs {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  opacity: 0.8;
}


.tabs__links {
  display: flex;
  flex-direction: column;
  order: 0;
  white-space: nowrap;
  margin-bottom: 15px;
  background-image: url("../img/servfon.png");
  background-size: cover;


}

.tabs__links>a {
  display: inline-block;
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  background-color: white;
  text-align: left;
  box-shadow: 0 2px 4px 0 rgb(218, 218, 218);
  margin-bottom: 12px;
}

.tabs__links>a:hover {
  background-color: var(--accent-color);
  transition: 0.3s ease-in-out;
  color: #ffffff;
}

.tabs>#content-1:target~.tabs__links>a[href="#content-1"],
.tabs>#content-2:target~.tabs__links>a[href="#content-2"],
.tabs>#content-3:target~.tabs__links>a[href="#content-3"],
.tabs>#content-4:target~.tabs__links>a[href="#content-4"],
.tabs>#content-5:target~.tabs__links>a[href="#content-5"],
.tabs>#content-6:target~.tabs__links>a[href="#content-6"] {
  background-color:var(--accent-color);
  color: #fff;
  cursor: default;
}

.tabs>div:not(.tabs__links) {
  display: none;
  order: 1;
  flex-grow: 1;
}

@media (min-width: 576px) {
  .tabs {
    flex-direction: row;
  }

  .tabs__links {
    flex-direction: column;
    border: none;
    box-shadow: none;
  }

  .tabs__links>a {

    box-shadow: 0 2px 4px 0 rgb(218, 218, 218);
    margin-bottom: 12px;
  }

  .tabs__links>a:last-child {
    margin-bottom: 0;
  }

  .tabs>div:not(.tabs__links) {
    padding-left: 15px;
  }
}

.tabs>div:target {
  display: block;
}

