
.img1 {
  position: relative;
  margin-top: -100%;
  padding-bottom: 27px;
  opacity: 0.8;
  z-index: -20;
  max-height: 200px;
  width: 100%;
}
.half {
  margin-left: -20px;
  margin-top: 20px;

  width: 100%;
  padding: 0 1em;
  margin-bottom: 20px;
}
/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  color: #fff;
  font-size: 30px;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  opacity: 0.8;
  background: var(--accent-color);
  font-weight: bold;
  line-height: 6;
  cursor: pointer;
}
.blue label {
  background: #2980b9;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  color: var(--main-color);
  background: rgb(245, 245, 245);
  -webkit-transition: max-height .7s;
  -o-transition: max-height .7s;
  transition: max-height .7s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 1000vh;
}

/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
*, *:after, *:before {
	box-sizing: border-box;
}
.tab-one {
  background-image: url("../img/us1.jpg");
}
