<section class="ss">
  <div class="container">
    <h2 class="ss__title">УСЛУГИ</h2>
    <ul data-speed="1.05" class="usz flex">
      <li class="hover-text-one">
          <figure class="effect-text-three">
            <img src="img/us1.jpg" alt=""/>
              <a href="service.html#content-1">
                <figcaption>
            <h3>Строительство зданий и сооружений</h3>
            <p>Наша цель - предоставить клиентам высококачественное строительство зданий и сооружений, соответствующее их ожиданиям и требованиям. Мы гарантируем высокий уровень профессионализма, соблюдение сроков и индивидуальный подход к каждому проекту.</p>
                </figcaption>
              </a>
          </figure>
      </li>
      <li class="hover-text-onez">
        <figure class="effect-text-three">
          <img src="img/us2.jpg" alt=""/>
            <a href="service.html#content-2">
              <figcaption>
          <h3>Производство электромонтажных работ</h3>
          <p>Наша цель - обеспечить ваш объект надежной и безопасной электрической системой, соответствующей всем современным стандартам и требованиям.</p>
              </figcaption>
            </a>
        </figure>
      </li>
    </ul>
    <ul data-speed="1.05" class="usz flex">
      <li class="hover-text-onez">
          <figure class="effect-text-three">
            <img src="img/us3.jpg" alt=""/>
              <a href="service.html#content-3">
                <figcaption>
            <h3>Проектирование зданий и сооружений</h3>
            <p>Наши специалисты имеют обширный опыт в проектировании зданий и сооружений различного масштаба, что позволяет нам предоставить клиентам оптимальные решения.</p>
                </figcaption>
              </a>
          </figure>
      </li>
      <li class="hover-text-one">
        <figure class="effect-text-three">
          <img src="img/us4.jpg" alt=""/>
            <a href="service.html#content-4">
              <figcaption>
          <h3>Снос зданий и сооружений</h3>
          <p>Наша команда профессионалов имеет обширный опыт в сносе зданий и сооружений различной сложности. Мы гарантируем качественное и безопасное проведение работ, соблюдение сроков и индивидуальный подход к каждому проекту.</p>
              </figcaption>
            </a>
        </figure>
      </li>
    </ul>
    <ul data-speed="1.05" class="usz flex">
      <li class="hover-text-one">
          <figure class="effect-text-three">
            <img src="img/us5.jpg" alt=""/>
              <a href="service.html#content-5">
                <figcaption>
            <h3>Производство кровельных работ</h3>
            <p>Наша команда квалифицированных специалистов обладает богатым опытом в выполнении кровельных работ разного масштаба, гарантируя высокое качество, надежность и долговечность кровельных систем. Мы ценим каждого клиента и стремимся предоставить индивидуальный подход к каждому проекту, обеспечивая высокий уровень удовлетворенности и комфорта наших заказчиков.</p>
                </figcaption>
              </a>
          </figure>
      </li>
      <li class="hover-text-onez">
        <figure class="effect-text-three">
          <img src="img/us6.jpg" alt=""/>
            <a href="service.html#content-6">
              <figcaption>
          <h3>Производство штукатурных работ</h3>
          <p>Наша команда опытных мастеров штукатуров обеспечивает высокий уровень профессионализма и точное соблюдение сроков выполнения работ.</p>
              </figcaption>
            </a>
        </figure>
      </li>
    </ul>
  </div>
</section>
