
<div data-speed="1.2" class="itc-slider" data-slider="itc-slider" data-autoplay="true">
  <div class="itc-slider-wrapper">
    <div class="itc-slider-items">
      <div class="itc-slider-item">
        <div class="slidetxt" alt="1">
          <p>6 лет<br>на рынке</p>
        </div>
      </div>
      <div class="itc-slider-item">
        <div class="slidetxtX" alt="2">
          <p>Современное<br>оборудование</p>
        </div>
      </div>
      <div class="itc-slider-item">
        <div class="slidetxtY" alt="3">
          <p>Качественная<br>работа</p>
        </div>
      </div>
      <div class="itc-slider-item">
        <img src="img/st1.jpeg" alt="4">
      </div>

    </div>
  </div>
  <!-- Кнопки для перехода к предыдущему и следующему слайду -->
  <button class="itc-slider-btn itc-slider-btn-prev"></button>
  <button class="itc-slider-btn itc-slider-btn-next"></button>
  <ol class="itc-slider-indicators">
    <!-- data-slide-to="0" – для перехода к 1 слайду -->
    <li class="itc-slider-indicator" data-slide-to="0"></li>
    <!-- data-slide-to="1" – для перехода к 2 слайду -->
    <li class="itc-slider-indicator" data-slide-to="1"></li>
    <!-- data-slide-to="2" – для перехода к 3 слайду -->
    <li class="itc-slider-indicator" data-slide-to="2"></li>
    <li class="itc-slider-indicator" data-slide-to="3"></li>

  </ol>
</div>

